.carasoul{
	height: 500px;
	background-color: #10c9c3;
}
.carasoul__text{
	width: 807px;
	height: 99px;
	margin: 0 auto;
	padding-top: 150px;
	color: #fff;
	font-size: 24px;
	font-weight: 500;
	line-height: 36px;
	letter-spacing: 0.24px;
}
.carasoul__text-author{
	margin-top: 150px;
	color: #fff;
	text-align: center;
	font-size: 12px;
	font-weight: 500;
	line-height: 36px;
	text-transform: uppercase;
	letter-spacing: 1.2px;
}