*{
	box-sizing: border-box;
}
body{
	margin: 0;
	font-family: "Montserrat", "Arial", sans-serif;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
}
.same-headings{
	margin: 0;
	color: #191919;
	font-size: 30px;
	font-weight: 600;
	line-height: 60px;
	letter-spacing: 0.3px;
}

@media (max-width: 1180px) {
	.container{
		max-width: 1150px;
	}
	.hero__heading-wrapper{
		margin-left: 600px;
	}
}
@media (max-width: 1085px){
	.hero__heading-wrapper{
		margin-left: 500px;
	}
}
@media (max-width: 1000px){
	.hero__heading-wrapper{
		margin-left: 400px;
	}
}
@media (max-width: 850px){
	.container{
		max-width: 800px;
	}
	.hero__heading-wrapper{
		margin-left: 400px;
	}
}