.site-nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
}
.site-nav__logo{
	padding: 10px;
}
.site-nav__list{
	max-width: 600px;
	display: flex;
	// flex-grow: 1;
	margin: 0;
	padding: 10px;
	list-style-type: none;
}
.site-nav__item{
	padding: 0 10px;
}
.site-nav__link{
	color: #191919;
	font-size: 12px;
	font-weight: 500;
	line-height: 24px;
	text-decoration: none;
	text-transform: uppercase;
}
.site-nav__link--active{
	color: #27b3ae;
}
.site-nav__link:hover{
	color: #27b3ae;
}